@model IEnumerable<BugTrackerPro.Models.AdminUserViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Roles
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @foreach (var role in item.SelectedRoles)
                {
                    <p>@role</p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit Roles", "EditUserRoles", new { id = item.User.Id }) @*|*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>