@using BugTrackerPro.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in";
}
<style>
    .modal-backdrop {
        z-index: -1 !important;
    }
</style>
<div class="col-md-4 center-margin">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="content-box wow bounceInDown modal-content">
            <h3 class="content-box-header content-box-header-alt bg-default">
                <span class="icon-separator">
                    <i class="glyph-icon icon-cog"></i>
                </span>
                <span class="header-wrapper">
                    <strong>Chap Tracker | Pro</strong>
                    <small>Login to your account</small>
                </span>
                <span class="header-buttons">
                    <a href="@Url.Action("Register")" class="btn btn-sm btn-primary" title="">Register</a>
                </span>
            </h3>
            <div class="content-box-wrapper">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="Email">
                        <span class="input-group-addon bg-blue">
                            <i class="glyph-icon icon-envelope-o"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password">
                        <span class="input-group-addon bg-blue">
                            <i class="glyph-icon icon-unlock-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <a href="#" title="Recover password" data-toggle="modal" data-target="#forgotPWModal">Forgot Your Password?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
        </div>
    }
    <div class="modal fade" id="forgotPWModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <p class="modal-title" style="color: #00bca4"><strong>Forgot Password</strong></p>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPWForm", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Enter email" name="Email" required>
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-envelope-o"></i>
                                </span>
                            </div>
                        </div>
                    }           
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:document.getElementById('forgotPWForm').submit()">Send Reset Link</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}