@model BugTrackerPro.Models.CodeFirst.Project

@{
    ViewBag.Title = "Delete";
}


<h2 style="margin-bottom: 20px">Delete Project | <span style="color: #00bca4">@Model.Title</span><a href="@Url.Action("Index")" class="btn btn-black pull-right" title=""><i class="glyph-icon icon-linecons-cog" style="margin-right: 10px"></i>Back to Projects</a></h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorFullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-top: 20px">
            <input type="submit" value="Delete" class="btn btn-danger" style="background-color: #e74c3c; border-color: #cf4436" />
        </div>
    }
</div>
