@model BugTrackerPro.Models.CodeFirst.Ticket

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" type="text/css" href="../../assets/widgets/tocify/tocify.css">

<h2 style="margin-bottom: 20px">Ticket Details | <span style="color: #00bca4">#@Model.Id - @Model.Title</span><a href="@Url.Action("Index", "Home")" class="btn btn-black pull-right" title=""><i class="glyph-icon icon-linecons-tag" style="margin-right: 10px"></i>Back to Tickets</a></h2>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="sticky-nav">
            <div id="tocify-menu"></div>
        </div>
    </div>
    <div class="col-md-9" style="margin-bottom: 600px">
        <div class="panel panel-default">         
            <div class="panel-body">               
                <div style="text-align: center">
                    <center>
                        <h1 style="margin-top: 30px; margin-bottom: -50px">
                            <span class="bs-label label-primary">
                                <strong>
                                    <i class="glyph-icon icon-linecons-tag" style="margin-right: 10px"></i>
                                    <span style="font-size: 15px">#</span><span style="margin-left: 3px">@Model.Id</span>
                                </strong>
                            </span>
                        </h1>

                        
                    </center>                
                </div>
                <div class="toc-tocify">
                    <h2 class="mrg20B" style="padding-top: 100px">Details</h2>
                        <div class="content-box pad20A">
                            <div class="ribbon ribbon-tr">
                                @if (Model.TicketPriority.Name == "Low")
                                {
                                    <div class="bg-blue-alt">@Model.TicketPriority.Name</div>
                                }
                                else if (Model.TicketPriority.Name == "Medium")
                                {
                                    <div class="bg-yellow">@Model.TicketPriority.Name</div>
                                }
                                else if (Model.TicketPriority.Name == "High")
                                {
                                    <div class="bg-orange">@Model.TicketPriority.Name</div>
                                }
                                else if (Model.TicketPriority.Name == "Critical")
                                {
                                    <div class="bg-red">@Model.TicketPriority.Name</div>
                                }
                            </div>
                            <div class="row" style="margin-bottom: 20px; margin-top: 20px">
                                <div class="col-md-6">
                                    <center>
                                        <div class="content-box border-top border-primary">
                                            <p class="content-box-header clearfix">
                                                Submitter
                                            </p>
                                            <div class="content-box-wrapper">
                                                <img class="img-circle" src="../..@Model.OwnerUser.ProfilePic" alt="" style="background-color: white; width: 100px; margin-bottom: 10px">
                                                <div class="divider"></div>
                                                <p><strong style="color: #00bca4">@Model.OwnerUser.FullName</strong></p>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-md-6">
                                    <center>
                                        <div class="content-box border-top border-primary">
                                            <p class="content-box-header clearfix">
                                                Developer
                                            </p>
                                            <div class="content-box-wrapper">
                                                @if (Model.AssignToUserId != null)
                                                {
                                                    <img class="img-circle" src="../..@Model.AssignToUser.ProfilePic" alt="" style="background-color: white; width: 100px; margin-bottom: 10px">
                                                    <div class="divider"></div>
                                                    <p><strong style="color: #00bca4">@Model.AssignToUser.FullName</strong></p>
                                                }
                                                else
                                                {
                                                    <div class="divider"></div>
                                                    <p><strong style="color: #00bca4">Not Yet Assigned</strong></p>
                                                }
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                            <dl class="dl-horizontal">                                

                                <dt></dt>

                                <dd>
                                    <blockquote>
                                        <p><strong style="color: #00bca4">@Html.DisplayFor(model => model.Title)</strong></p>
                                        <p style="font-size: 13px">@Html.DisplayFor(model => model.Description)</p>
                                    </blockquote>
                                </dd>

                                <dt>
                                    Project
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Project.Title)
                                </dd>

                                <dt>
                                    Type
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketType.Name)
                                </dd>

                                <dt>
                                    Status
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketStatus.Name)
                                </dd>

                                <dt>
                                    Created
                                </dt>

                                <dd>
                                    @Model.Created.ToString("MM/dd/yyyy") at @Model.Created.ToString("h:mm tt")
                                </dd>
                                @if (Model.Updated != null)
                                {
                                    <dt>
                                        Updated
                                    </dt>

                                    <dd>
                                        @Model.Updated.Value.ToString("MM/dd/yyyy") at @Model.Updated.Value.ToString("h:mm tt")
                                    </dd>
                                }

                            </dl>
                        </div>
                    <h2 class="mrg20B" style="padding-top: 100px">Attachments</h2>
                    <p style="color: #00bca4; margin-bottom: 10px; font-size: 20px"><i class="glyph-icon icon-bullseye" style="font-size: 24px; margin-right: 1px"></i> DropZone<a href='javascript:void(0)' class="btn btn-primary btn-md pull-right" onclick="myUploadBtn()" style="margin-top: -3px">Upload</a></p>
                    @using (Html.BeginForm("AddAttachment", "Tickets", new { ticketId = Model.Id }, FormMethod.Post, new { @class = "dropzone bg-gray center-margin dz-clickable", enctype = "multipart/form-data", style = "border: 2px solid #00bca4" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="dz-default dz-message" style="padding-top: 0px">
                            <i class="glyph-icon icon-file"></i><br />
                            <span>Drop files here to upload</span>
                        </div>
                    }
                    <h3 class="mrg20B" style="padding-top: 100px">Ticket Attachments</h3>
                    @foreach (var attachment in Model.Attachments)
                    {
                        <p>
                            <a href="/TicketAttachments/@Model.Id/@attachment.FileUrl" target="_blank">@attachment.FileUrl</a>
                        </p>
                    }  
                    <h2 class="mrg20B" style="padding-top: 100px">Comments</h2>
                    <p class="mrg20B font-gray-dark" style="line-height: 2em">Eget elementum ipsum semper in. Pellentesque vel dignissim enim. Aliquam volutpat placerat felis, vel condimentum elit ultrices at. Donec sed semper risus, tempor convallis massa. Duis lectus velit, efficitur et dolor ac, consectetur placerat lacus. Donec volutpat commodo tellus et interdum. Suspendisse urna lectus, lobortis id aliquet in, congue at felis. Suspendisse eget sollicitudin elit.</p>
                    <p class="mrg20B font-gray-dark" style="line-height: 2em">Quisque gravida, nulla ac euismod vestibulum, libero odio mollis nunc, vitae ultricies ante velit eu lectus. In hac habitasse platea dictumst. Morbi luctus nisi commodo risus tincidunt, a sagittis quam placerat. Phasellus lobortis diam non molestie gravida. Praesent gravida velit eget lacus iaculis dapibus. Nulla facilisi. Nam cursus mattis orci, in malesuada lectus. Cras laoreet suscipit pulvinar. Donec metus nulla, malesuada eu leo sit amet, tempus pretium leo. Quisque lacinia leo a mauris iaculis malesuada. Aliquam non mauris lacus. Quisque ut mauris cursus, congue metus non, tincidunt lorem. Pellentesque volutpat aliquet sem eget aliquet. Pellentesque vehicula eu est eget porttitor. Donec lorem nulla, pharetra ut molestie et, commodo vitae ipsum. Nullam dictum finibus orci ut tincidunt.</p>
                    <h3 class="mrg20B" style="padding-top: 100px">Ticket Comments</h3>
                    <p class="mrg20B font-gray-dark" style="line-height: 2em">Nulla condimentum laoreet interdum. Phasellus sit amet libero tempus, convallis lectus vitae, dictum libero. Donec mauris ante, fermentum vel est eget, aliquam lacinia enim. Duis ultrices est bibendum neque condimentum, eu luctus nisl vehicula. Nam facilisis felis luctus dolor ultricies posuere. Nam nec semper dolor. Aenean vitae ante et nunc placerat venenatis. Proin est neque, volutpat ut massa id, sollicitudin rhoncus ipsum.</p>                    
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="../../assets/widgets/sticky/sticky.js"></script>
    <script type="text/javascript" src="../../assets/widgets/tocify/tocify.js"></script>
    <script src="~/assets/widgets/dropzone/dropzone.js"></script>
    <script type="text/javascript">
        $(function () {
            var toc = $("#tocify-menu").tocify({ context: ".toc-tocify", showEffect: "fadeIn", extendPage: false, selectors: "h2, h3, h4" });
        });
        jQuery(document).ready(function ($) {

            /* Sticky bars */

            $(function () {
                "use strict";

                $('.sticky-nav').hcSticky({
                    top: 90,
                    innerTop: 10,
                    stickTo: 'document'
                });

            });

        });

        //Go to a attachment section after reloading page
        function myUploadBtn(reload) {
            window.location.hash = "#TicketAttachments";
            window.location.reload(true);
        };
    </script>
}
