@model IEnumerable<BugTrackerPro.Models.CodeFirst.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignToUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPriority.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignToUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })<br />
            <a href="javascript:void(0)" onclick="ticketDetailsAjaxLoad(@item.Id)">Details</a><br />
            @*//////////////// ***** ANOTHER WAY ***** ////////////////*@
            @*<a class="detailsPartial" href="javascript:void(0)" data-id="@item.Id">Details |</a><br />*@
            <a href="javascript:void(0)" onclick="showDeleteModal(@item.Id)" data-target="#modalFromAnotherView" data-toggle="modal">Delete</a>
        </td>
    </tr>
}

</table>

<div class="modal fade" id="modalFromAnotherView" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content" id="modalFromAnotherViewTwo">

        </div>
    </div>
</div>

<div id="ticketDetails"></div>

@section Scripts{
    <script>
        function showDeleteModal(id) {
            $('#modalFromAnotherViewTwo').load('/Tickets/Testosterone/' + id);
        }

        function ticketDetailsAjaxLoad(id) {
            $('#ticketDetails').load('/Tickets/DetailsPartial/' + id);
        }

        //////////////// ***** ANOTHER WAY ***** ////////////////
        //$('.detailsPartial').click(function () {
        //    $('#ticketDetails').load('/Tickets/DetailsPartial/' + $(this).data('id'));
        //})
    </script>
}